body {
    color: red;
}

.grid {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  background-color: #2196F3;
  padding: 100px;
  justify-content: center;
}

.grid-item {
  background-color: rgba(237, 243, 255);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  padding: 20px
}